
<!-- <h1>This is root component</h1>
<app-home></app-home>
<app-emp></app-emp> -->
<nav class="navbar navbar-default" style="background-color: navajowhite;">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home </a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li> <a routerLink="/contact">Contact Us</a></li>
            <li> <a routerLink="/emp">Employee</a></li>
            <li> <a routerLink="/employeelist">Employee List</a></li>
            <li> <a routerLink="/reactiveform">Reactive Form Demo</a></li>
            <li> <a routerLink="/userlist">User List</a></li>
            <li> <a routerLink="/binding">Binding Demo</a></li>
            <li> <a routerLink="/ngclassdemo">Ngclass demo</a></li>
        
        </ul>
    </div>
</nav>



<router-outlet></router-outlet>